<div class="wrapper">
  <div class="page-header page-header-small fondo-negro">
    <h1 class="akira">BARBEROS</h1>
  </div>
  <div class="sizedBox"></div>
  <div class="container">

    <div class="image-container">
      <div class="image-wrapper">
        <img src="assets/img/barberos/FREZZZCO RECORTADO.png" class="small-image" alt="FREZZZCO">

        <div class="image-info">
          <h3 class="poppins"><b>FREZZZCO</b></h3>
          <h6 class="poppins">Owner</h6>
          <p>Descripción de la imagen 1</p>
          <div class="social-icons" style="display: flex; padding: 15px 0;">
            <a href="#"><i class="fab fa-facebook" style="color: white;"></i></a>
            <a href="#"><i class="fab fa-twitter" style="color: white;"></i></a>
            <a href="https://www.instagram.com/_frezco_/"><i class="fab fa-instagram" style="color: white;"></i></a>
          </div>
        </div>
      </div>
      
      <div class="image-wrapper">
        <img src="assets/img/barberos/HANS RECORTADO.png" class="small-image" alt="HANS">
        <div class="image-info">
          <h3 class="poppins"><b>HANS</b></h3>
          <h6 class="poppins">Owner</h6>
          <p>Descripción de la imagen 2</p>
          <div class="social-icons" style="display: flex; padding: 15px 0;">
            <a href="#"><i class="fab fa-facebook" style="color: white;"></i></a>
            <a href="#"><i class="fab fa-twitter" style="color: white;"></i></a>
            <a href="https://www.instagram.com/han.sric/"><i class="fab fa-instagram" style="color: white;"></i></a>
          </div>
        </div>
      </div>

      <div class="image-wrapper">
        <a href="saul-anchor" id="scrollToSaul">
        <img src="assets/img/barberos/SAÚL RECORTADO.png" class="small-image" alt="SAÚL">
        </a>
        <div class="image-info">
          <h3 class="poppins"><b>SAÚL</b></h3>
          <h6 class="poppins">Barbero</h6>
          <p> Experiencia de 2 años <br> Cortes clásicos</p>
          <div class="social-icons" style="display: flex; padding: 15px 0;">
            <a href="#"><i class="fab fa-facebook" style="color: white;"></i></a>
            <a href="#"><i class="fab fa-twitter" style="color: white;"></i></a>
            <a href="https://www.instagram.com/sauulix/"><i class="fab fa-instagram" style="color: white;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="sizedBox"></div>
  <div class="container fondo-negro2">
    <div class="row mx-auto" style="font-family: 'PoppinsSemiBold', sans-serif;">
      <div class="col-md-6">
        <div class="image-with-border">
          <img src="assets/img/barberos/FREZZZCO.jpg" alt="FREZZZCO">
        </div>        
      </div>
      <div class="col-md-6 justify-content-center">
        <div class="title text-center">
          <h4 class="akira">FREZZZCO</h4>
        </div>
        <div class="container">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of images">
              <img class="d-block w-100" [src]="image" alt="Slide">
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="sizedBox2"></div>
        <div class="image-row">
          <div class="image-container2">
            <img src="assets/img/cortes/cuadrado1.png" alt="Imagen 1">
          </div>
          <div class="image-container2">
            <img src="assets/img/cortes/cuadrado2.png" alt="Imagen 2">
          </div>
          <div class="image-container2">
            <img src="assets/img/cortes/cuadrado3.png" alt="Imagen 3">
          </div>
        </div>
        <div class="sizedBox2"></div>
        <div class="contenedor">
          <div class="center-button">
            <button class="button-agenda"><a class="nav-link" [routerLink]="['/citas']">Agenda ahora</a></button>
          </div>
        </div>  
        <div class="sizedBox2"></div>      
      </div>
    </div>
  </div>

  <div class="sizedBox"></div>
  <div class="container fondo-negro2 Saul" >
    <div class="row mx-auto" style="font-family: 'PoppinsSemiBold', sans-serif;">
      <div class="col-md-6">
        <div class="image-with-border">
          <img src="assets/img/barberos/SAÚL.jpg" alt="SAÚL" id="saul-anchor">
        </div>        
      </div>
      <div class="col-md-6 justify-content-center">
        <div class="title text-center">
          <h4 class="hanson">SAÚL</h4>
        </div>
        <div class="container">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of images">
              <img class="d-block w-100" [src]="image" alt="Slide">
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="sizedBox2"></div>
        <div class="image-row">
          <div class="image-container2">
            <img src="assets/img/cortes/cuadrado1.png" alt="Imagen 1">
          </div>
          <div class="image-container2">
            <img src="assets/img/cortes/cuadrado2.png" alt="Imagen 2">
          </div>
          <div class="image-container2">
            <img src="assets/img/cortes/cuadrado3.png" alt="Imagen 3">
          </div>
        </div>
        <div class="sizedBox2"></div>
        <div class="contenedor">
          <div class="center-button">
            <button class="button-agenda"><a class="nav-link" [routerLink]="['/citas']">Agenda ahora</a></button>
          </div>
        </div>  
        <div class="sizedBox2"></div>      
      </div>
    </div>
  </div>



  <div class="sizedBox"></div>
  <div class="title text-center">
    <h1 class="akira font-black">Raised in these <br> streets <br> but rather not <br> be in 'em</h1>
  </div>
  <div class="sizedBox"></div>
</div>

<!-- <script>
  document.addEventListener('DOMContentLoaded', function () {
  // Obtén el enlace y el elemento de destino
  var scrollToSaulLink = document.getElementById('scrollToSaul');
  var saulElement = document.querySelector('.container.fondo-negro2.Saul');

  // Agrega un manejador de eventos para el clic en el enlace
  scrollToSaulLink.addEventListener('click', function (e) {
    e.preventDefault(); // Previene el comportamiento predeterminado del enlace

    // Realiza el desplazamiento suave hacia el elemento de destino
    saulElement.scrollIntoView({ behavior: 'smooth' });
  });
});
</script> -->