   

   <div class="wrapper">
    <div class="page-header page-header-small" filter-color="black">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/cortes/DSC04205.jpg') ;"></div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="font-family: 'Hanson', sans-serif;">NOSOTROS</h1>
            </div>
        </div>
    </div>
    
      <div class="container">
          <div class="button-container">
              <a href="#button" class="btn btn-primary btn-round  btn-lg" data-background-color="black">Follow</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/frezzzco_cuu/" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a>
          </div>
      </div> 
    
          <div class="sectionn">
            <div class="container">
              <h3 class="title with-border" style="font-family: 'Hanson', sans-serif;">MISIÓN</h3>
              <h5 class="description1" style="font-family: 'PoppinsSemiBold', sans-serif;">Lograr un impacto positivo en la vida de cada cliente a través de un servicio de calidad
                brindado por un personal altamente capacitado. </h5>
            </div>
          </div> 
    
          <div class="sectionn">
            <div class="container">
              <h3 class="title with-border2" style="font-family: 'Hanson', sans-serif;">VISIÓN</h3>
              <h5 class="description2" style="font-family: 'PoppinsSemiBold', sans-serif;">Nos esforzamos por ser lideres en el mercado y establecer un referente en la excelencia del servicio al cliente</h5>
            </div>
            <br>
          </div> 
      
          
          <div class="section" id="carousel">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10"> <!-- Aumentamos el ancho del contenedor -->
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img class="d-block w-100" src="assets/img/cortes/Carrusel Recortado 1.png" alt="First slide">
                                <div class="carousel-caption d-md-block">
                                    <div class="dropdown">
                                      <a href="/barberos"><button class="dropbtn">CONÓCENOS</button></a>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="d-block w-100" src="assets/img/cortes/Carrusel Recortado 2.png" alt="Second slide">
                                <div class="carousel-caption d-md-block">
                                    <div class="dropdown">
                                        <a href="/barberos"><button class="dropbtn">CONÓCENOS</button></a>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="d-block w-100" src="assets/img/cortes/Carrusel Recortado 3.png" alt="Third slide">
                                <div class="carousel-caption d-md-block">
                                        <div class="dropdown">
                                          <a href="/barberos"><button class="dropbtn">CONÓCENOS</button></a>
                                        </div>                                
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
        

      
          <div class="section">
            <div class="container">
              <h3 class="title with-border3" style="font-family: 'Hanson', sans-serif;">¿QUIÉNES SOMOS?</h3>
              <h5 class="description3" style="font-family: 'PoppinsSemiBold', sans-serif;">FREZZZCO BARBERÍA, una empresa chihuahuense fundada en septiembre de 2020, es el resultado de una pasión profunda por el arte de la barbería.
                <br><br>Nos destacamos por ofrecer a nuestros clientes una experiencia VERDADERAMENTE EXCLUSIVA, brindando servicios de barbería moderna, influenciados por tendencias europeas y moda urbana. 
                <br><br>Todo esto se lleva a cabo en un ambiente fresco y dinámico, donde consideramos que la amistad, y el respeto son valores esenciales que guían nuestra filosofía.
                 </h5>
              
            </div>
          </div> 
  </div>
    
      