
    <div class="page-header page-header-small fondo-negro">
        <h1 class="akira" style="text-align: center;">Producto Creado</h1>
    </div>
    <div class="wrapper">
    <div class="card" style="align-items: center;">
        <i class="fas fa-check-circle success-icon"></i>
        <p class="success-message">El producto se ha creado con éxito.</p>
        <a href="/formProduct"><button id="crearProductoBtn" class="btn-primary">Crear otro producto</button></a>
        <a href="/productos"><button id="verProductosBtn" class="btn-secondary">Ver productos</button></a>
    </div>
</div>