.service-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    align-items: center; // Centrar verticalmente
    justify-content: center; // Centrar horizontalmente
    margin: auto; // Centrar en el contenedor
  }

  .barber-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    align-items: center; // Centrar verticalmente
    justify-content: center; // Centrar horizontalmente
    margin: auto; // Centrar en el contenedor
  }


.mi-div {
  height: 100px; // Alto de 200 píxeles
}

.poppins {
  font-family: 'PoppinsSemiBold', sans-serif;
}

.akira {
  font-family: 'AkiraExpandedDemo', sans-serif;
}

.button-black{
  padding: 5px;
  background-color: #000;
  color: #fff; 
  border-radius: 15px; 
  border: 2px solid #fff;
}


.button-rectangle {
  display: inline-block;
  overflow: hidden;
  border-radius: 0; /* Elimina las esquinas redondeadas */
}

.rectangle-button {
  display: block;
  width: 150px; /* Ajusta el ancho según tus necesidades */
  padding: 10px 20px; /* Ajusta el espaciado interno según tus necesidades */
  background-color: #3498db; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}
.dropdown {
position: relative;
display: inline-block;
font-family: Arial, sans-serif;
}

.dropbtn {
background-color: white;
color: black;
border: none;
border-radius: 0%;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
padding: 8px 21px;
font-size: 16px;
font-family: AkiraExpandedDemo, sans-serif;
}

.dropbtn:hover {
background-color: black;
color: white;
}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
border: 1px solid #ccc;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
min-width: 160px;
z-index: 1;
border-radius: 5px;
}

.dropdown-content a {
color: #333;
padding: 12px 16px;
text-decoration: none;
display: block;
transition: background-color 0.2s;
}

.dropdown-content a:hover {
background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown button.dropbtn {
font-size: 11px;
background-color: #000;
color: #fff; 
border-radius: 15px; 
border: 2px solid #fff; 
}

.dropdown button.dropbtn:hover {
background-color: #fff;
color: #000; 
border: 2px solid #000; 
}

  .title.with-border2 {
    text-align: right;
  }
  
  .title.with-border3 {
    text-align: center;
  }
  
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .col {
    padding: 0;
  }
  
  .ngb-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ngb-slide img {
    max-width: 100%;
    height: auto;
  }
  

  
