<div class="wrapper">
  <div class="page-header page-header-small fondo-negro">
    <h1 class="akira">Administrador</h1>
  </div>
  <div class="menu">
    <a href=""><button class="menu-button">Ver Citas</button></a>
    <a href=""><button class="menu-button">Barberos</button></a>
    <a href=""><button class="menu-button">Estadisticas</button></a>
    <a href="/formProduct"><button class="menu-button">Crear Productos</button></a>
    <a href="/editProduct"><button class="menu-button">Editar Productos</button></a>
    <a href="/carrusel"><button class="menu-button">Carrusel</button></a>
  </div>
</div>

   <!-- <div class="page-header page-header-small fondo-negro">
        <h1 class="akira">Administrador</h1>
      </div> -->