<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/img/logos/LF1.png" alt="Logo" class="navbar-logo">
  </div>
  <div class="navbar-right">
    <a routerLink="/playeras" class="navbar-link">Seguir Comprando</a>
  </div>
</nav>
<div class="wrapper">
    

  <div class="producto">
    <div class="imagen">
      <img src="assets/img/productos/playeras cuadrado.png" alt="Producto" class="borde-redondeado">
    </div>
    <div class="info">
      <h2 style="text-align: left;">Playera frezzzco</h2>
      <h2 style="text-align: left;">$MXN 200</h2>
      <div class="botones">
        <button class="talla">M</button>
        <div class="cantidad">
          <button class="sumar">+</button>
          <div class="cantidad"><span>1</span></div>
          <button class="restar">-</button>
        </div>
      </div>
      <p>Descripción del producto...</p>
    </div>
  </div>
  <div class="payment-section">
    <!-- Primera fila -->
    <div class="payment-row">
      <div class="payment-info">
        <h2>Total: $MXN 200</h2>
        <a href="/pago"><button class="pay-button">Pagar ahora (1)</button></a>
      </div>
    </div>
  </div>
</div>