  @font-face {
    font-family: 'AkiraExpandedDemo';
    src: url('assets/fonts/AKIRA EXPANDED DEMO.OTF') format('opentype');
    /* Otras propiedades de fuente como weight, style, etc. */
  }

  @font-face {
    font-family: 'PoppinsSemiBold';
    src: url('assets/fonts/POPPINS-SEMIBOLD.TTF') format('opentype');
    /* Otras propiedades de fuente como weight, style, etc. */
  }

