<div class="wrapper">
  <!-- <div class="page-header page-header-small fondo-negro">
    <h1 class="akira">Carrusel</h1>
  </div> -->
  <div class="carrusel">
    <div class="image-row">
      <div class="image-container" *ngFor="let image of images; let i = index">
        <div class="image">
          <img [src]="image.image1" alt="Carrusel Image 1">
        </div>
        <button class="edit-button" (click)="openImageUploader(image, i, 'image1')">
          <i class="fa fa-edit"></i> Editar
        </button>
      </div>
      <div class="image-container" *ngFor="let image of images; let i = index">
        <div class="image">
          <img [src]="image.image2" alt="Carrusel Image 2">
        </div>
        <button class="edit-button" (click)="openImageUploader(image, i, 'image2')">
          <i class="fa fa-edit"></i> Editar
        </button>
      </div>
      <div class="image-container" *ngFor="let image of images; let i = index">
        <div class="image">
          <img [src]="image.image3" alt="Carrusel Image 3">
        </div>
        <button class="edit-button" (click)="openImageUploader(image, i, 'image3')">
          <i class="fa fa-edit"></i> Editar
        </button>
      </div>
    </div>
  </div>
  <button class="save-button" (click)="saveChanges()">Guardar Cambios</button>
</div>
